{% load sekizai_tags %}

<div class="messages-block block" data-fn="messages" data-template="messages-template" id="messages"></div>

{% addtoblock "template" %}
<template id="messages-template">
    <div class="{[type]}{[type|yesno:'-message-block']} message-block block {[active|yesno:'active']}" data-fn="each">
        <p class="message-text-block block">
            {[text]}<br/>
            <span data-fn="if-status" class="text-6">({[status]})</span>
        </p>

        <button class="{[type|is:'success'|not|yesno:'','hidden']} message-close-thumb close-thumb thumb" data-fn="remove-on-click">remove</button>

        {% comment %}
        <ul class="action-index index" data-scope="{[actions]}">
            <li data-fn="each">
                <a class="action-button button" href="{[href]}">{[text]}</a>
            </li>
        </ul>
        {% endcomment %}
    </div>
</template>
{% endaddtoblock %}

{% addtoblock "css" %}<link href="{{STATIC_URL}}css/messages.css" rel="stylesheet" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/messages.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script title="messages ready">
(function(window) {
	"use strict";

	var Sparky   = window.Sparky;
	var messages = window.messages;

    {% if messages %}messages.add({% for message in messages %}{
		text: "{{message|safe}}",
        type: "{{message.level_tag}}"
	}{% if forloop.last %}{% else %},{% endif %}{% endfor %});{% endif %}

    Sparky('#messages');
})(this);
</script>{% endaddtoblock %}
