{% load sekizai_tags %}

<div class="messages-block block" sparky-fn="template:'#messages-template'" id="messages"></div>

{% addtoblock "templates" %}
<template id="messages-template">
    <div class="{[type]}{[type|yesno:'-message-block']} message-block block {[active|yesno:'active','']}" removeable sparky-fn="each">
        <p class="message-text-block block">
            {[message]}<br/>
            <span data-fn="if-status" class="text-6">({[status]})</span>
        </p>

        <button class="{[type|is:'success'|yesno:'hidden','']} message-close-thumb close-thumb thumb" sparky-fn="remove-on-click">remove</button>

        {% comment %}
        <ul class="action-index index" data-scope="{[actions]}">
            <li data-fn="each">
                <a class="action-button button" href="{[href]}">{[text]}</a>
            </li>
        </ul>
        {% endcomment %}
    </div>
</template>
{% endaddtoblock %}

{% addtoblock "css" %}<link href="{{STATIC_URL}}css/messages.css" rel="stylesheet" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/messages.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script title="messages">
(function(window) {
	"use strict";

	var Sparky   = window.Sparky;
	var messages = window.messages;

    {% if messages %}messages.push({% for message in messages %}{
		message: "{{message|safe}}",
        type:    "{{message.level_tag}}"
	}{% if forloop.last %}{% else %},{% endif %}{% endfor %});{% endif %}
})(this);
</script>{% endaddtoblock %}
